<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.market.reply.mapper.ReviewAttachMapper">

	<insert id="insert">
		insert into attach_review (rvuuid, rvfoler, rvpath, rvname, rvnum)
		values (#{rvuuid}, replace(#{rvfolder}, '\', '/'), #{rvname}, #{rvnum})
	</insert>

	<delete id="delete">

		delete from attach_product where rvuuid = #{rvuuid}

	</delete>

	<select id="findByRvnum"
		resultType="com.spring.market.reply.mapper.ReviewAttachMapper">
		select * from attach_product where rvnum = #{rvnum}
	</select>

	<delete id="deleteAll">

		delete attach_product where rvname = #{rvname}

	</delete>

	<select id="getOldFiles"
		resultType="com.spring.market.reply.mapper.ReviewAttachMapper">

		select * from attach_product where replace(#{rvfolder}, '/', '\') = to_char(sysdate -1 ,'yyyy\mm\dd')

	</select>
	
</mapper>
