<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.market.product.mapper.ProductAttachMapper">

	<insert id="insert">
		insert into attach_product (pdUuid, pdFolder, pdName,pdPath,pdNum)
		values (#{pdUuid}, replace(#{pdFolder}, '\', '/'), #{pdName},replace(#{pdPath},'\', '/'),#{pdNum})
	</insert>

	<delete id="delete">

		delete from attach_product where pdUuid = #{pdUuid}

	</delete>

	<select id="findByPdNum"
		resultType="com.spring.market.product.domain.ProductAttachVO">
		select * from attach_product where pdNum = #{pdNum}
	</select>

	<delete id="deleteAll">

		delete attach_product where pdNum = #{pdNum}

	</delete>

	<select id="getOldFiles"
		resultType="com.spring.market.product.mapper.ProductAttachMapper">

		select * from attach_product where pdFolder = to_char(sysdate -1 ,'yyyy\mm\dd')

	</select>
	
	
	
	<select id="selectAll" resultType="com.spring.market.product.domain.ProductAttachVO">
		select * from attach_product a INNER join product_table p on a.pdNum = p.pdNum where a.pdNum = #{pdNum};
	</select>
	
</mapper>
