<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.market.product.mapper.ProductMapper">

	<!-- Search query preference -->
<!-- 	<sql id="criteria"> -->
<!-- 		<trim prefix="(" suffix=") and" prefixOverrides="or"> -->
<!-- 			<foreach item="type" collection="typeArr"> -->
<!-- 				<trim prefix="or"> -->
<!-- 					<choose> -->
<!-- 						<when test="type == 'T'.toString()"> -->
<!-- 							b_title like '%'||#{keyword}||'%' -->
<!-- 						</when> -->
<!-- 						<when test="type == 'C'.toString()"> -->
<!-- 							b_text like '%'||#{keyword}||'%' -->
<!-- 						</when> -->
<!-- 						<when test="type == 'W'.toString()"> -->
<!-- 							u_email like '%'||#{keyword}||'%' -->
<!-- 						</when> -->
<!-- 					</choose> -->
<!-- 				</trim> -->
<!-- 			</foreach> -->
<!-- 		</trim> -->
<!-- 	</sql> -->
	
	
	<insert id="insert">
		insert into Product_Table(pdNum, pdName, pdPrice, pdStock, pdKeyword, pdHit) 
		values(idx_product_seq.nextval, #{pdName}, #{pdPrice}, #{pdStock}, #{pdKeyword}, #{pdHit})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="pdNum" order="BEFORE" resultType="long">
			select idx_product_seq.nextval from dual
		</selectKey>
		insert into Product_Table(pdNum, pdName, pdPrice, pdStock, pdKeyword, pdHit)  values(#{pdNum}, #{pdName}, #{pdPrice}, #{pdStock}, #{pdKeyword}, #{pdHit})
	</insert>
	
	<select id="read" resultType="com.spring.market.product.domain.ProductVO">
		select * from Product_Table where pdNum = #{pdNum}
	</select>

	<delete id="delete">
		delete from Product_Table where pdNum = #{pdNum}
	</delete>
	
	<update id="update">
		update Product_Table set pdName = #{pdName}, pdPrice = #{pdPrice}, pdStock = #{pdStock}, pdKeyword = #{pdKeyword} where pdNum = #{pdNum}
	</update>
	
<!-- 	<select id="getTotalCount" resultType="int"> -->
<!-- 		<![CDATA[ -->
<!-- 			select count(*) from Product_Table -->
<!-- 			where -->
<!-- 		]]> -->
<!-- 			<include refid="criteria" /> -->
<!-- 		<![CDATA[ -->
<!-- 			pdNum > 0 -->
<!-- 		]]> -->
<!-- 	</select> -->
	
<!-- 	<select id="getListPaging" resultType="com.spring.market.product.domain.ProductVO"> -->
<!-- 		<![CDATA[ -->
<!-- 			select pdNum, pdName, pdPrice, pdStock, pdKeyword, pdHit, b_img from  -->
<!-- 			(select /*+ index_desc(BOARD_TABLE pk_board_b_number) */  -->
<!-- 			rownum rn, b_number, b_title, b_text, u_email, b_regdate, b_updatedate, b_img  -->
<!-- 			from BOARD_TABLE -->
<!-- 			where -->
<!-- 		]]> -->
		
<!-- 		<include refid="criteria"/> -->
		
<!-- 		<![CDATA[ -->
<!-- 			rownum <= #{pageNum} * #{amount}) -->
<!-- 			where rn > (#{pageNum} - 1) * #{amount} -->
<!-- 		]]> -->
<!-- 	</select> -->
	
<!-- 	<select id="getU_nameFromU_Email" resultType="string"> -->
<!-- 		<![CDATA[ -->
<!-- 			select u_name from user_table where u_email=#{u_email} -->
<!-- 		]]> -->
<!-- 	</select> -->

<!-- 	<update id="setBoardImage"> -->
<!-- 		<![CDATA[ -->
<!-- 			update Board_table set b_img = (select b_uploadpath||'/'||b_uuid||'_'||b_filename from ATTACH_TABLE where b_number = #{b_number}) where b_number = #{b_number} -->
<!-- 		]]> -->
<!-- 	</update> -->
	
	<update id="updateReplyCnt">
		update product_table set replycnt = replycnt + #{amount} where pdnum = #{pdnum}
	</update>
		
</mapper>