<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.market.product.mapper.ProductAttachMapper">

	<insert id="insert">
		insert into attach_product (pdUuid, pdPath, pdName, pdNum)
		values (#{pdUuid}, replace(#{pdPath}, '\', '/'), #{pdName}, #{pdNum})
	</insert>

	<delete id="delete">

		delete from attach_product where pdUuid = #{pdUuid}

	</delete>

	<select id="findByPdNum"
		resultType="com.spring.market.product.mapper.ProductAttachMapper">
		select * from attach_product where pdNum = #{pdNum}
	</select>

	<delete id="deleteAll">

		delete attach_product where pdName = #{pdName}

	</delete>

	<select id="getOldFiles"
		resultType="com.spring.market.product.mapper.ProductAttachMapper">

		select * from attach_product where pdPath = to_char(sysdate -1 ,'yyyy\mm\dd')

	</select>
	
</mapper>
